
<footer>
    <div class="wrapper">
        <a href="#" class="icones"><img src="/images/whatsapp.png" id="redes"/>(48) 99188 - 4912</a>
        <a href="#" class="icones"><img src="/images/instagram.png" id="redes"/> @BeatSync-service</a>
        <a href="#" class="icones"><img src="/images/youtube.png" id="redes"/>BeatSync</a>
    </div>
</footer>