
<footer>
    <div class="logo">
        <img src="/images/logo2(1).png" alt="Logo" id="logo">
    </div>
    <div class="wrapper">
        <a href="#" class="icones"><img src="/images/whatsapp.png" id="redes"/></a>
        <a href="#" class="icones"><img src="/images/instagram.png" id="redes"/></a>
        <a href="#" class="icones"><img src="/images/youtube.png" id="redes"/></a>
    </div>
    <div class="text-fote">BeatSync 2024 | Fonte os Autores</div>
</footer>