
<footer>
    <div class="wrapper">
        <a href="#" class="icones"><img src="/images/whatsapp.png" id="redes"/></a>
        <a href="#" class="icones"><img src="/images/instagram.png" id="redes"/></a>
        <a href="#" class="icones"><img src="/images/facebook.png" id="redes"/></a>
        <a href="#" class="icones"><img src="/images/youtube.png" id="redes"/></a>
    </div>
</footer>