<body>
    <div class="table-conjunto">
        <h1 class="titulo-table">Exercícios de Cárdio</h1>
            <table class="table-treino">
                <tr><th class="tipo-info">Tipo</th><th class="tipo-info">Exercícios</th><th class="tipo-info">Tempo em minutos</th><th class="tipo-info">Aplicabilidade</th></tr>
                <tr><td>Cárdio</td><td>[Corrida]</td><td>20</td><td>Firmeza nos musculos e ganho de sresistência.</td></tr>
                <tr><td>Cárdio</td><td>[Escada]</td><td>20</td><td>Firmeza nos musculos e ganho de sresistência.</td></tr>
                <tr><td>Cárdio</td><td>[Polichinelo]</td><td>5</td><td>Firmeza nos musculos e ganho de sresistência.</td></tr>
            </table>
    </div>
    <div class="conjunto-botao">
        <a href="/"><button class="volta-categoria">Voltar</button></a>
        <button onclick="" class="volta-categoria">Exemplos</button>
    </div>
</body>