
<body>
    <h1 class="titulo-table">Exercícios de Cárdio</h1>
    <div class="table-conjunto">
            <table class="table-treino">
                <tr>
                    <th class="tipo-info">Tipo</th>
                    <th class="tipo-info">Exercícios</th>
                    <th class="tipo-info">Tempo em minutos</th>
                    <th class="tipo-info">Aplicabilidade</th>
                    <th class="tipo-info">Exemplos</th>
                </tr>
                <tr>
                    <td>Cárdio</td>
                    <td>[Corrida]</td>
                    <td>20</td>
                    <td>A corrida é excelente para melhorar a resistência cardiovascular e fortalecer os músculos das pernas. É uma atividade de alta queima calórica, que também melhora o condicionamento físico geral e ajuda na saúde mental, reduzindo o estresse e melhorando o humor.</td>
                    <td><a class="link-btn-table" href="https://www.hipertrofia.org/blog/2017/12/26/exercicios-para-peito/#2-supino-reto"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>Cárdio</td>
                    <td>[Escada]</td>
                    <td>20</td>
                    <td>Subir escadas trabalha intensamente as pernas e glúteos, além de fortalecer o core e melhorar a capacidade cardiovascular. Esse exercício é eficaz para aumentar a resistência muscular, tonificar os músculos inferiores e queimar calorias.</td>
                    <td><a class="link-btn-table" href="https://www.hipertrofia.org/blog/2017/12/26/exercicios-para-peito/#2-supino-reto"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>Cárdio</td>
                    <td>[Polichinelo]</td>
                    <td>5</td>
                    <td>O polichinelo é um exercício aeróbico que envolve todo o corpo, melhorando o condicionamento cardiorrespiratório e a coordenação. Ele ajuda na queima de calorias e aquece o corpo, preparando-o para atividades mais intensas.</td>
                    <td><a class="link-btn-table" href="https://www.hipertrofia.org/blog/2017/12/26/exercicios-para-peito/#2-supino-reto"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
            </table>
    </div>
    <div class="conjunto-botao">
        <a href="/users/treino">
            <button class="btn-table">
              <span class="span-table">Voltar</span>
            </button>
        </a>
        <a href="/users/playlist">
            <button class="btn-table">
              <span class="span-table">Playlists</span>
            </button>
        </a>
    </div>
</body>
