<style>
    table {
        width: 80%;
        justify-content: center;
        background-color: black;
        border: 1px solid black;
        flex-direction: column;
    }
    th {
        color: white;
        padding: 5px;
        border: 1px solid black;
    }
</style>

<table>
    <h3>Exercícios de Cárdio:</h3>
    <tr>
        <th class="tipagem">Tipo</th><th class="tipagem">Exercícios</th><th class="tipagem">Tempo em minutos</th><th class="tipagem">Aplicabilidade</th>
        <th>Cárdio</th><th>[Corrida]</th><th>20</th><th>Firmeza nos musculos e ganho de sresistência.</th>
        <th>Cárdio</th><th>[Escada]</th><th>20</th><th>Firmeza nos musculos e ganho de sresistência.</th>
        <th>Cárdio</th><th>[Polichinelo]</th><th>5</th><th>Firmeza nos musculos e ganho de sresistência.</th>
    </tr>
</table>