<body>
    <div class="table-conjunto">
        <h1 class="titulo-table">Exercícios de CrossFit</h1>
            <table class="table-treino">
                <th class="tipo-info">Tipo</th><th class="tipo-info">Exercícios</th><th class="tipo-info">Séries</th><th class="tipo-info">Repetições</th><th class="tipo-info">Aplicabilidade</th>
                <tr><td>CrossFit</td><td>[Box Jump]</td><td>3</td><td>20</td><td>Melhoras a força e a estética do seu físico.</td></tr>
                <tr><td>CrossFit</td><td>[Wall Ball]</td><td>3</td><td>15</td><td>Desempenho e fortalecimento dos musculos.</td></tr>
                <tr><td>CrossFit</td><td>[Medicine Ball Clean]</td><td>3</td><td>15</td><td>Enrrigecimento dos musculos da perna, alivio de dores e estética.</td></tr>
                <tr><td>CrossFit</td><td>[Air Squat]</td><td>3</td><td>20</td><td>Alivio de dores e estética.</td></tr>
                <tr><td>CrossFit</td><td>[Push up]</td><td>3</td><td>30</td><td>Estética e ganho de força.</td></tr>
            </table>
    </div>
    <div class="conjunto-botao">
        <button onclick="" class="volta-categoria">Voltar</button>
        <button onclick="" class="volta-categoria">Exemplos</button>
    </div>
</body>