<style>
    table {
        width: 80%;
        justify-content: center;
        background-color: black;
        border: 1px solid black;
        flex-direction: column;
    }
    th {
        color: white;
        padding: 5px;
        border: 1px solid black;
    }
</style>

<table>
    <h3>Exercícios de CrossFit:</h3>
    <tr>
        <th class="tipagem">Tipo</th><th class="tipagem">Exercícios</th><th class="tipagem">Séries</th><th class="tipagem">Repetições</th><th class="tipagem">Aplicabilidade</th>
        <th>CrossFit</th><th>[Box Jump]</th><th>3</th><th>20</th><th>Melhoras a força e a estética do seu físico.</th>
        <th>CrossFit</th><th>[Wall Ball]</th><th>3</th><th>15</th><th>Desempenho e fortalecimento dos musculos.</th>
        <th>CrossFit</th><th>[Medicine Ball Clean]</th><th>3</th><th>15</th><th>Enrrigecimento dos musculos da perna, alivio de dores e estética.</th>
        <th>CrossFit</th><th>[Air Squat]</th><th>3</th><th>20</th><th>Alivio de dores e estética.</th>
        <th>CrossFit</th><th>[Push up]</th><th>3</th><th>30</th><th>Estética e ganho de força.</th>
    </tr>
</table>