<style>
    table {
        width: 80%;
        justify-content: center;
        background-color: black;
        border: 1px solid black;
        flex-direction: column;
    }
    th {
        color: white;
        padding: 5px;
        border: 1px solid black;
    }
</style>

<table>
    <h3>Exercícios de Musculação:</h3>
    <tr>
        <th class="tipagem">Tipo</th><th class="tipagem">Exercícios</th><th class="tipagem">Séries</th><th class="tipagem">Repetições</th><th class="tipagem">Aplicabilidade</th>
        <th>Peito</th><th>[Flexão][Flexão Inclinada]</th><th>4</th><th>20</th><th>Melhoras a força e a estética do seu físico.</th>
        <th>Costas</th><th>[Barra Fixa][Barra Fixa Pronada]</th><th>4</th><th>15</th><th>Desempenho e fortalecimento dos musculos.</th>
        <th>Pernas</th><th>[Agachamento][Agachamento com Salto]</th><th>5</th><th>20</th><th>Enrrigecimento dos musculos da perna, alivio de dores e estética.</th>
        <th>Ombro</th><th>[Elevação Lateral]</th><th>4</th><th>15</th><th>Alivio de dores e estética.</th>
        <th>Abdomên</th><th>[Abdominal]</th><th>5</th><th>30</th><th>Estética</th>
        <th>Braços</th><th>[Rosca][Flexão Diamente][Martelo]</th><th>4</th><th>15</th><th>Ganho de Força, estética e desempenho em outras áreas.</th>
    </tr>
</table>