
<main id="playlist">
    <a href="/plays/play1">
        <button class="btn-playlist">
            <span>Playlist 1</span>
        </button>
    </a>

    <a href="/plays/play2">
        <button class="btn-playlist">
            <span>Playlist 2</span>
        </button>
    </a>

    <a href="/plays/play3">
        <button class="btn-playlist">
            <span>Playlist 3</span>
        </button>
    </a>
</main>