<main id="playlist">
    <button>
        <a href="./play1"><span>Playlist 1</span></a>
    </button>

    <button>
        <a href="./plays/play2.ejs"><span>Playlist 2</span></a>
    </button>

    <button>
        <a href="/plays/play3.ejs"><span>Playlist 3</span></a>
    </button>
</main>

<style></style>