<style>
    table {
        width: 80%;
        justify-content: center;
        background-color: black;
        border: 1px solid black;
        flex-direction: column;
    }
    th {
        color: white;
        padding: 5px;
        border: 1px solid black;
    }
</style>

<table>
    <h3>Exercícios de Funcional:</h3>
    <tr>
        <th class="tipagem">Tipo</th><th class="tipagem">Exercícios</th><th class="tipagem">Tempo em minutos</th><th class="tipagem">Aplicabilidade</th>
        <th>Funcional</th><th>[Corda Naval]</th><th>1</th><th>Firmeza nos musculos e ganho de resistência.</th>
        <th>Funcional</th><th>[Agachamento Bulgaro]</th><th>1</th><th>Firmeza nos musculos e ganho de resistência.</th>
        <th>Funcional</th><th>[Scipping]</th><th>3</th><th>Firmeza nos musculos e ganho de resistência.</th>
        <th>Funcional</th><th>[Afundo]</th><th>1</th><th>Firmeza nos musculos e ganho de resistência.</th>
        <th>Funcional</th><th>[Pular Corda]</th><th>3</th><th>Firmeza nos musculos e ganho de resistência.</th>
    </tr>
</table>