<body>
    <div class="table-conjunto">
        <h1 class="titulo-table">Exercícios de Funcional</h1>
            <table class="table-treino">
                <tr><th class="tipo-info">Tipo</th><th class="tipo-info">Exercícios</th><th class="tipo-info">Tempo em minutos</th><th class="tipo-info">Aplicabilidade</th></tr>
                <tr><td>Funcional</td><td>[Corda Naval]</td><td>1</td><td>Firmeza nos musculos e ganho de resistência.</td></tr>
                <tr><td>Funcional</td><td>[Agachamento Bulgaro]</td><td>1</td><td>Firmeza nos musculos e ganho de resistência.</td></tr>
                <tr><td>Funcional</td><td>[Scipping]</td><td>3</td><td>Firmeza nos musculos e ganho de resistência.</td></tr>
                <tr><td>Funcional</td><td>[Afundo]</td><td>1</td><td>Firmeza nos musculos e ganho de resistência.</td></tr>
                <tr><td>Funcional</td><td>[Pular Corda]</td><td>3</td><td>Firmeza nos musculos e ganho de resistência.</td></tr>
            </table>
    </div>
    <div class="conjunto-botao">
        <button onclick="" class="volta-categoria">Voltar</button>
        <button onclick="" class="volta-categoria">Exemplos</button>
    </div>
</body>