<main id="playlist">
    <button>
        <a href="/plays2/play1"><span>Playlist 1</span></a>
    </button>

    <button>
        <a href="/plays2/play2"><span>Playlist 2</span></a>
    </button>

    <button>
        <a href="/plays2/play3"><span>Playlist 3</span></a>
    </button>
</main>