<main>
    <div id="cont">
        <div class="barra">
            <div class="icons-princ">
                <a href="/users/edit" class="comp"><img src="/images/Component 3.png" alt="perfil" class="component">
                    <p>Perfil</p>
                </a>
            </div>

            <div class="icons-princ">
                <a href="users/treino.ejs" class="comp">
                    <img src="/images/Component 4.png" alt="treino" class="component">
                    <p>Treino</p>
                </a>
            </div>
            <div class="icons-princ">
                <a href="users/playlist.ejs" class="comp"><img src="/images/Component 2.png" alt="playlist" class="component">
                    <p>Playlist</p>
                </a>
            </div>
        </div>
    </div>
</main>

