<main id="treino">
    <div class="table-conjunto">
        <h1 class="titulo-table">Exercícios de Musculação</h1>
        <div id="table-conjunto">
            <table class="table-treino">
                <tr>
                    <th class="tipo-info">Tipo</th>
                    <th class="tipo-info">Exercícios</th>
                    <th class="tipo-info">Séries</th>
                    <th class="tipo-info">Repetições</th>
                    <th class="tipo-info">Aplicabilidade</th>
                    <th class="tipo-info">Exemplos</th>
                </tr>
                <tr>
                    <td>Peito</td>
                    <td>[Flexão de Braço]</td>
                    <td>4</td>
                    <td>20</td>
                    <td>Fortalecer o peito ajuda na estabilidade dos ombros, melhora a postura e contribui para uma aparência mais definida do tronco.</td>
                    <td><a class="link-btn-table" href="https://www.hipertrofia.org/blog/2017/12/26/exercicios-para-peito/#9-flexao-de-braco" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>Costas</td>
                    <td>[Barra Fixa]</td>
                    <td>4</td~>
                    <td>15</td>
                    <td> Isso é importante para a postura,  o desenvolvimento muscular e melhora a força em movimentos de puxar, essenciais em várias atividades do dia a dia.</td>
                    <td><a class="link-btn-table" href="https://www.hipertrofia.org/blog/2019/05/05/exercicios-para-costas/#barra-fixa" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>Pernas</td>
                    <td>[Agachamento]</td>
                    <td>5</td>
                    <td>20</td>
                    <td>Esse treino é fundamental para estabilidade e mobilidade, além de ser essencial para a saúde das articulações do joelho e quadril. Treinar pernas também tem um impacto positivo no metabolismo e no equilíbrio corporal.</td>
                    <td><a class="link-btn-table" href="https://www.hipertrofia.org/blog/2024/07/24/exercicios-para-pernas/#1-agachamento-livre" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>Ombro</td>
                    <td>[Elevação Lateral]</td>
                    <td>4</td>
                    <td>15</td>
                    <td>Ombros fortes ajudam a prevenir lesões e são essenciais para manter o alinhamento e a simetria do tronco.</td>
                    <td><a class="link-btn-table" href="https://www.hipertrofia.org/blog/2017/09/16/elevacao-lateral/" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                <tr>
                    <td>Abdomên</td>
                    <td>[Abdominal]</td>
                    <td>5</td>
                    <td>30</td>
                    <td>Estética</td>
                    <td><a class="link-btn-table" href="https://www.hipertrofia.org/blog/2017/09/21/exercicios-para-abdomen/#1-abdominal" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>Braços</td>
                    <td>[Rosca Alternada]</td>
                    <td>4</td>
                    <td>15</td>
                    <td>Desenvolver força nos braços e são importantes para dar suporte em exercícios de empurrar e puxar, além de auxiliar em várias atividades diárias.</td>
                    <td><a class="link-btn-table" href="https://www.hipertrofia.org/blog/2018/09/05/rosca-alternada/" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
            </table>
        </div>
            <div class="conjunto-botao">
                <a href="/users/treino">
                    <button class="btn-table">
                      <span class="span-table">Voltar</span>
                    </button>
                </a>
                <a href="/users/playlist">
                    <button class="btn-table">
                      <span class="span-table">Playlists</span>
                    </button>
                </a>
            </div>
        </main>
</body>