<body>
    <div class="table-conjunto">
        <h1 class="titulo-table">Exercícios de Musculação</h1>
            <table class="table-treino">
                <tr><th class="tipo-info">Tipo</th><th class="tipo-info">Exercícios</th><th class="tipo-info">Séries</th><th class="tipo-info">Repetições</th><th class="tipo-info">Aplicabilidade</th></tr>
                <tr><td>Peito</td><td>[Flexão][Flexão Inclinada]</td><td>4</td><td>20</td><td>Melhoras a força e a estética do seu físico.</td></tr>
                <tr><td>Costas</td><td>[Barra Fixa][Barra Fixa Pronada]</td><td>4</td><td>15</td><td>Desempenho e fortalecimento dos musculos.</td></td>
                <tr><td>Pernas</td><td>[Agachamento][Agachamento com Salto]</td><td>5</td><td>20</td><td>Enrrigecimento dos musculos da perna, alivio de dores e estética.</td></tr>
                <tr><td>Ombro</td><td>[Elevação Lateral]</td><td>4</td><td>15</td><td>Alivio de dores e estética.</td></tr>
                <tr><td>Abdomên</td><td>[Abdominal]</td><td>5</td><td>30</td><td>Estética</td></tr>
                <tr><td>Braços</td><td>[Rosca][Flexão Diamente][Martelo]</td><td>4</td><td>15</td><td>Ganho de Força, estética e desempenho em outras áreas.</td></tr>
            </table>
    </div>
    <div class="conjunto-botao">
        <a href="/"><button class="volta-categoria">Voltar</button></a>
        <button onclick="" class="volta-categoria">Exemplos</button>
    </div>
</body>