<style>
    .titulo-table {
        font-size: 20px;
    }
    .table-treino {
        background-color: black;
        border: 1px solid rgb(0, 0, 0);
        justify-content: center;
    }
    th {
        color: white;
        padding: 10px;
        border: 1px solid rgb(255, 255, 255);
    }
    td {
        text-align: center;
        color: white;
        padding: 5px;
        border: 1px solid rgb(255, 255, 255);
    }
</style>
<body>
    <table class="table-treino">
        <h3 class="titulo-table">Exercícios de Musculação:</h3>
            <tr><th class="tipo-info">Tipo</th><th class="tipo-info">Exercícios</th><th class="tipo-info">Séries</th><th class="tipo-info">Repetições</th><th class="tipo-info">Aplicabilidade</th></tr>
            <tr><td>Peito</td><td>[Flexão][Flexão Inclinada]</td><td>4</td><td>20</td><td>Melhoras a força e a estética do seu físico.</td></tr>
            <tr><td>Costas</td><td>[Barra Fixa][Barra Fixa Pronada]</td><td>4</td><td>15</td><td>Desempenho e fortalecimento dos musculos.</td></td>
            <tr><td>Pernas</td><td>[Agachamento][Agachamento com Salto]</td><td>5</td><td>20</td><td>Enrrigecimento dos musculos da perna, alivio de dores e estética.</td></tr>
            <tr><td>Ombro</td><td>[Elevação Lateral]</td><td>4</td><td>15</td><td>Alivio de dores e estética.</td></tr>
            <tr><td>Abdomên</td><td>[Abdominal]</td><td>5</td><td>30</td><td>Estética</td></tr>
            <tr><td>Braços</td><td>[Rosca][Flexão Diamente][Martelo]</td><td>4</td><td>15</td><td>Ganho de Força, estética e desempenho em outras áreas.</td></tr>
    </table>
</body>