<main id="playlist">
    <a href="/plays4/play1">
        <button>
            <span>Playlist 1</span>
        </button>
    </a>

    <a href="/plays4/play2"></a>
        <button>
            <span>Playlist 2</span>
        </button>
    </a>

    <a href="/plays4/play3"></a>
        <button>
            <span>Playlist 3</span>
        </button>
    </a>
</main>