<main>
    <div id="sobreNos">
        <p id="sobre">Somos um grupo de alunos composto pelo estudante Eduardo Ferraz e Daniel Ferraz.
        <br>Somos os criadores e programadores do projeto “BeatSync” e frequentamos
        <br>o Instituto Federal Catarinense de Sombrio.</p>
    </div>

    <div>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6LNKeK9iJ66iwe16VxG43H?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
</main>