<!-- perfil.ejs -->
<main id="body">
    <div class="profile">
        <h2>Perfil do Usuário</h2>
        <p>Nome:<%= user.nome %></p>
        <p>Email: <%= user.email %></p>
        <p>Data de Nascimento:<%= user.data_nasc.toISOString().split('T')[0] %></p>
        <a href="/logout">Sair</a>
    </div>
</main>
