<div class="ficha-completa">
    <h1>Ficha de Usuário</h1>
    <table class="ficha-user">
        
        <tr class="ficha-campo">
            <th>Nome:</th>
            <td><%= user.nome %></td> 
        </tr>
        <tr class="ficha-campo">
            <th>E-mail:</th>
            <td><%= user.email %></td>
        </tr>
        <tr class="ficha-campo">
            <th>Data de Nascimento:</th>
            <td><%= user.dataNasc %></td>
        </tr>   
        <tr class="ficha-campo">
            <th>Genêro:</th>
            <td><%= user.genero %></td> 
        </tr>
    </table>
</div>