
  <button>
    <a href="https://open.spotify.com/embed/playlist/0FS3aUlCo6lV5Uhh74jyGx?utm_source=generator">
      <span>Playlist 1</span>
      <p>Rock</p>
    </a>
  </button> 
  <button>
    <a href="https://open.spotify.com/embed/playlist/2wLlvBwInlJ9NrZjNLZIdL?utm_source=generator">  
      <span>Playlist 2</span>
      <p>Rock</p>
    </a>
  </button>
  <button>
    <a href="https://open.spotify.com/embed/playlist/2FOSuTNoIjeKWBvvFyqJhL?utm_source=generator">  
      <span>Playlist 3</span>
      <p>Rock</p>
    </a>
  </button> 
  <button>
    <a href="https://open.spotify.com/embed/playlist/0jdFUdkzabcP6k5BlAgQmc?utm_source=generator">
      <span>Playlist 4</span>
      <p>Eletrônica</p>
    </a>
  </button> 
  <button>
    <a href="https://open.spotify.com/embed/playlist/3Z4OwMn6GgQxh69hFnXZc4?utm_source=generator">
      <span>Playlist 5</span>
      <p>Eletrônica</p>
    </a>
  </button>


<style> 

p {
  font-size: 10px;
  font-family: Arial, sans-serif;
  padding-top: 3px;
}

button {
 display: inline-block;
 border-radius: 4px;
 background-color: #000000;
 border: none;
 color: #FFFFFF;
 text-align: center;
 font-size: 17px;
 padding-top: 20px;
 padding: 16px;
 width: 150px;
 transition: all 0.5s;
 cursor: pointer;
 margin: 5px;
}
button a {
  color: inherit;
  text-decoration: none;
}

button span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}

button span:after {
 content: '»';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -15px;
 transition: 0.5s;
}

button:hover span {
 padding-right: 15px;
}

button:hover span:after {
 opacity: 1;
 right: 0;
}
</style>