<main class="main-treino">
  <div class="form-treino">
      <form class="form2" onsubmit="mostrarConteudo(event)"> <!-- Submete para a rota correta -->
          <h2>Cadastro de Treino</h2>
          <p class="pgtreino">Qual tipo de treino você gostaria de realizar?</p>
          <div class="fpr-treino">
              <div class="camp-treino">
                  <select class="input1" name="tipo" id="opcoes">
                      <option id="opcoes" value="1">Musculação</option>
                      <option id="opcoes" value="2">Cárdio</option>
                      <option id="opcoes" value="3">Funcional</option>
                      <option id="opcoes" value="4">CrossFit</option>
                  </select>
                  <select class="input2" name="play" id="playlists">
                    <option id="opcoes" value="1">Funk/Phonk/Pop</option>
                    <option id="opcoes" value="2">Phonk/Metal/Pop</option>
                    <option id="opcoes" value="3">Eletro/Hip-Hop/Metal</option>
                    <option id="opcoes" value="4">Hip-Hop/Metal/Pop</option>
                </select>
              </div>
              <div class="btn">
                  <button class="botao" type="submit">Enviar</button>
              </div>
          </div>
      </form>
  </div>
</main>
<script>
  function mostrarConteudo(event) {
      // Evita o envio padrão do formulário
      event.preventDefault();

      // Obter o valor selecionado no <select>
      const playlists = document.getElementById('playlists').value;

      // Redirecionar para uma rota específica baseada no valor selecionado
      if (playlists == 1) {
          window.location.href = '/musculacao';
      } else if (opcoes == 2) {
          window.location.href = '/cardio';
      } else if (opcoes == 3) {
          window.location.href = '/funcional';
      } else if (opcoes == 4) {
          window.location.href = '/cross';
      }
  }


</script>
