<main class="main-treino">
    <div class="form-treino">
        <form class="form2" action="user/treino" class="form" method="POST">
            <h2>Cadastro de Treino</h2>
            <p class="pgtreino">Qual tipo de treino você gostaria de realizar?</p>
            <div class="fpr-treino">
                <div class="camp-treino">
                    <select  class="input1" name="tipo" id="tipo">
                        <option value="PeitoTriceps">Peito e Tríceps</option>
                        <option value="CostasBiceps">Costas e Biceps</option>
                        <option value="OmbroAbdomen">Ombro e Abdômen</option>
                        <option value="Perna">Perna Completo</option>
                        <option value="Cardio">Cardio</option>
                    </select>
                </div>
                <div class="btn">
                    <button class="botao" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</main>
