<form action="user/treino" class="form-treino" method="POST">
    <select name="tipo" id="tipo">
        <option value="braço">Braço</option>
        <option value="perna">Perna</option>
        <option value="costa">Costas</option>
        <option value="peito">Peito</option>
        <option value="ombro">Ombro</option>
    </select>
    <input type="number" name="repeticao" placeholder="Repetição" required>
    <input type="number" name="serie" placeholder="Série" required>
    <input type="text" name="aplicabilidade" placeholder="Aplicabilidade" required>
    <button type="submit">Enviar</button>
</form>
