<main id="mainPl">
   <div id="forPlay">
    <a class="link-btn-playframe">
        <button class="btn-interno-playframe">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
    </a>
        <iframe style= "border-radius:12px" src="https://open.spotify.com/embed/playlist/26JM1CNlCRrLBuOwIDl0Z5?utm_source=generator&theme=0" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
</main>

