<main id="mainPl">
    <div>
        <div id="forPlay">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5QrYVaNUgMsQHXxsUU4lcE?utm_source=generator&theme=0" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div class="conjunto-botao">
            <a href="/users/playlist">
                <button class="btn-playlist">
                    <span>Voltar</span>
                </button>
            </a>
        </div>
    </div>
</main>